tit($name)
  .{$name}-tit
    width: 1000px
    margin: 0 auto
    text-align: center;
    padding-bottom: 18px;
    padding-top:60px
    background: url(./title_line.png) no-repeat center bottom;
    h2
      height: 34px
      letter-spacing: 0.1rem;
      font-size: 34px
      font-weight: bold
      text-align: center
      line-height: 34px
    p
      font-size: 16px;
      color: #999;
      margin-top: 8px;
      line-height: 24px;
.my-wrapper
  width: 100%
  .banner
    font-size: 0
    overflow :hidden
  .wrapper-content
    width :980px
    margin: 0 auto
    padding-top: 20px
    background: #fff
    .wrapper-rig
      float: right
      width: 65%;
      margin-bottom: 50px
      border: 1px solid #eee
      h2
        height: 28px;
        line-height: 28px;
        padding-left: 15px
        border-left: 5px solid #018b3e;
        border-right: 1px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        color: #018b3e;
